
<div class="text">
    <p>What would you like to do? </p>
    </div>
    <div class="buttons">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/find-acc"> <button type="button" class="btn btn-primary"><b>Find By Id</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/countInPeriod"> <button type="button" class="btn btn-primary">Count Accounts in Period</button></a>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/delete-account">Delete By Id</a></button>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/accountCount"><button type="button" class="btn btn-primary">Count Accounts</button></a>
  &nbsp;&nbsp;&nbsp;
  
  </div>

