<header class="col-lg-12">
    <app-header></app-header>
   </header>
<div class="text">
    <h1><b class="color">What would you like to do?</b> </h1>
    </div>
    <div class="buttons">
        <br>
        <a routerLink="/find-acc"> <button type="button" class="custom"><b>Find By Id</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/countInPeriod"> <button type="button" class="custom"><b>Count Accounts in Period</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/delete-account"> <button type="button" class="custom"><b>Delete By Id</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/accountCount"><button type="button" class="custom"><b>Count Accounts</b></button></a>
  &nbsp;&nbsp;&nbsp;
  </div>
  <footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>

