<!-- <div class="container">
<br><br><br>
<h1 class="text-center">Login System</h1>
<form class="form-group" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <label> User id</label> &nbsp;
    <input type="number" required name="id" id="id" class="form-control" formControlName="id" [class.is-invalid]="loginForm.get('id')?.invalid" /><br>
    <label> Password</label> &nbsp;
    <input type="password" required name="password" id="password" class="form-control" formControlName="password" [class.is-invalid]="loginForm.get('password')?.invalid" /><br>
    <button class="btn btn-success" [disabled]='loginForm?.invalid'>Submit</button><br>
    </form>
    <div *ngIf="flag">
        <a routerLink="/admin-main">hi</a>
    </div>
</div> -->
<span>
  <a href="#" class="previous round">&#8249;Back</a>
</span>
<div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form class="form-group" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <label for="user-email" style="padding-top:13px">
            &nbsp;User Id
          </label>
          <input type="number" required name="id" id="id" class="form-control" formControlName="id">
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
          </label>
          <input type="password" required name="password" id="password" class="form-control" formControlName="password"/>
        <div class="form-border"></div>
        <!-- <a href="#">
          <legend id="forgot-pass">Forgot password?</legend>
        </a> -->
        <br>
        <button class="btn btn-success" [disabled]='loginForm?.invalid'>Login</button><br>
        <a href="register-user" id="signup">Don't have account yet?</a>
      </form>
      <div *ngIf= "createdFlag && !flag">
        <p>Invalid Credentials!</p>
      </div>
    </div>
  </div>
 