<!-- <p>login-page works!</p>
    
<h1 class="text-center">Login System</h1>
<form #loginform="ngForm" (ngSubmit)="login(loginform)">
    <div class="form-group">
        <label for="id">User id</label>
        <input type="number" class="form-control" name="id"[(ngModel)]="user.id" >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<br><br><br>
<form class="form-group" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <label> User id</label> &nbsp;
    <input type="number" required name="id" id="id" class="form-control" formControlName="id" [class.is-invalid]="loginForm.get('id')?.invalid" /><br>
    <label> Password</label> &nbsp;
    <input type="password" required name="password" id="password" class="form-control" formControlName="password" [class.is-invalid]="loginForm.get('password')?.invalid" /><br>
    <button class="btn btn-success" [disabled]='loginForm?.invalid'>Submit</button><br>
    </form>
    <div *ngIf="flag">
        <a routerLink="/admin-main">hi</a>
    </div>