
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img width="200" alt="TataSky Logo" src="assets\logo.png"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; 
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="/home-main"><b>Home</b></a></button>
              </li>
              &nbsp;&nbsp;&nbsp;
              <img width="14" src="assets\tata-sky-pipe.png">
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="/user-main"><b>User</b></a></button>
              </li>
              &nbsp;&nbsp;&nbsp;
              <img width="14" src="assets\tata-sky-pipe.png">
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="/pack-main"><b>Pack</b></a></button>
              &nbsp;&nbsp;&nbsp; 
              <img width="14" src="assets\tata-sky-pipe.png">
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="account-main"><b>Account</b></a></button>
              </li>
              &nbsp;&nbsp;&nbsp; 
              <img width="14" src="assets\tata-sky-pipe.png">
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="/recharge-main"><b>Recharge</b></a></button>
              </li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
              
              <li class="nav-item">
                <button class="btn btn-warning"><a class="nav-link" aria-current="page" routerLink="/login-page"><b>Login as Admin</b></a></button>
              </li>
              &nbsp;&nbsp;&nbsp;
              <!-- <img width="14" src="assets\tata-sky-pipe.png">
              &nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <button class="btn btn-danger"><a class="nav-link" aria-current="page" routerLink="/service-main"><b>Service Request</b></a></button>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      