<header class="col-lg-12">
  <app-admin-header></app-admin-header>
 </header>
  <div class="text">
    <h1><b class="color">What would you like to do?</b> </h1>
    </div>
    <div class="buttons">
        <br>
        <a routerLink="/add-service"> <button type="button" class="custom"><b>Add Service Request</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/close-service"> <button type="button" class="custom"><b>Close Service Request</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/opened-service"> <button type="button" class="custom"><b>Opened Service Request</b></button></a>
  &nbsp;&nbsp;&nbsp;
  
  </div>
  <footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>
