
<div class="text">
  <p>What would you like to do? </p>
  </div>
  <div class="buttons">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/add-service"><b>Add Service Request</b></a></button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary"><a routerLink="/close-service"><b>Close Service Request</b></a></button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary"><a routerLink="/opened-service"><b>Opened Service Request</b></a></button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>