
<!-- <br><br><br> -->
<div>
  
    <p class="lst">Select The Operation You Want To Execute</p>

</div>
<br><br>
<!-- <div>
    <p>What would you like to do? </p>
    <br>
    </div> -->

<br><br><br><br>
<div class="buttons">
<!-- <a routerLink="/add-pack">
    <button type="button" class="btn btn-info">Add Pack</button>
</a>  -->
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/show-packbyid">
    <button type="button" class="btn btn-info">Show PackByID</button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/show-packbycost">
    <button type="button" class="btn btn-info">Show PackByCost</button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/show-packbydaysValidity">
    <button type="button" class="btn btn-info">Show PackByDaysValidity</button>
</a> &nbsp; &nbsp; 

<a routerLink="/show-packGreaterAmt">
    <button type="button" class="btn btn-info">Show PackGreaterThanAmount</button>
</a> &nbsp; &nbsp; &nbsp;
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/show-popularPacks">
    <button type="button" class="btn btn-info">Show PopularPacks</button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/update-pack">
    <button type="button" class="btn btn-info">Update Pack</button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/delete-pack">
    <button type="button" class="btn btn-info">Delete Pack</button>
</a> &nbsp; &nbsp; &nbsp;  

<br><br><br><br>
</div>