
<header class="col-lg-12">
    <app-header></app-header>
   </header>
   <div class="text"><h1><b class="color">What would you like to do?</b> </h1>
    </div>
    <br>
<div class="container">
<div class="buttons">
<!-- <a routerLink="/add-pack">
    <button type="button" class="btn btn-info">Add Pack</button>
</a>  -->
&nbsp; &nbsp; &nbsp; 
<a routerLink="/show-packbyid">
    <button type="button" class="custom"><b>Show PackByID</b></button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/show-packbycost">
    <button type="button" class="custom"><b>Show PackByCost</b></button>
</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/show-packbydaysValidity">
    <button type="button" class="custom"><b>Show PackByDaysValidity</b></button>
</a>
<br><br>
<a routerLink="/show-packGreaterAmt">
    <button type="button" class="custom"><b>Show PackGreaterThanAmount</b></button>
</a> 
<br><br>
<a routerLink="/show-popularPacks">
    <button type="button" class="custom"><b>Show PopularPacks</b></button>
</a> &nbsp; &nbsp; &nbsp; 

<!-- <a routerLink="/update-pack">
    <button type="button" class="custom"><b>Update Pack</b></button>
</a> &nbsp; &nbsp; &nbsp;  -->

<a routerLink="/delete-pack">
    <button type="button" class="custom"><b>Delete Pack</b></button>
</a> &nbsp; &nbsp; &nbsp;  

<br><br>
</div>
</div>
<footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>