*{
    transition: all 0.6s;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}
button.go-back {
    font-size: 30px;
font-family: 'Combo', cursive;
border: none;
padding: 10px 20px;
cursor: pointer;
transition: 0.3s linear;
z-index: 9;
border-radius: 10px;
background: #C0D7DD;
color: #33265C;
box-shadow: 0 0 10px 0 #C0D7DD;
margin-top: 20px;
}
button:hover {box-shadow: 0 0 20px 0 #C0D7DD;}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}