<header>
  <header class="col-lg-12">
    <app-header></app-header>
   </header>
   <br><br><br><br><br>
   <div class="container">
<form class="form-group" [formGroup]="packForm" (ngSubmit)="packInfo(packForm.value)">
<label><h3 class="cst">Enter Pack ID</h3></label><br><br>
<span *ngIf="packForm.get('id')?.touched">
  <small *ngIf="packForm.get('id')?.errors?.required" class="text-danger">ID is required</small>
  <small *ngIf="packForm.get('id')?.errors?.min" class="text-danger">ID should be of 1 or more digits</small>
</span> 
<input type="text" required name="id" id="id" class="form-control" formControlName="id" /><br>

<br>

<button class="btn btn-primary" (click)="packInfo(packForm.value)">FETCH INFO</button>
</form>
<br>
<div *ngIf="createdFlag"  >
<div *ngIf="pack.id!=0; else elseBlock">
  <!-- {{pack|json}} -->
  <!-- {{pack.channels|json}} -->
 <ul>
     <li><h6 class="idc">ID: {{pack.id}}</h6></li>
     <li><h6 class="idc">Cost: {{pack.cost}}</h6></li>
     <li><h6 class="idc">daysValidity: {{pack.daysValidity}}</h6></li>
     <li><h6 class="idc">description: {{pack.description}}</h6></li>
     <li><h6 class="idc">planName: {{pack.planName}}</h6></li>
     <li><h6 class="idc">Channels: {{pack.channels}}</h6></li>
 </ul> 
</div>
<div>
  <ng-template #elseBlock> No Data available</ng-template>
</div>
</div>
<br><br>
</div>
<footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>