<br><br><br><br>
<h2>Delete Account</h2>
<form class="form-group" [formGroup]="accountForm" (ngSubmit)="deleteInfo(accountForm)">
<label> Account ID</label> &nbsp;
<span *ngIf="accountForm.get('accountId')?.touched">
    <small *ngIf="accountForm.get('accountId')?.errors?.required" class="text-danger">ID is required</small>
    <small *ngIf="accountForm.get('accountId')?.errors?.min" class="text-danger">ID should be greater than 1</small>
</span>
<input type="number" required name="accountId" id="accountId" class="form-control" formControlName="accountId" [class.is-invalid]="accountForm.get('accountId')?.invalid" /><br>
<button class="btn btn-success" [disabled]='accountForm?.invalid'>Submit</button><br>
</form>
<div *ngIf="createdFlag; else elseBlock">
  Deleted Account Successfully!!!  
</div>
 <div>
   <ng-template #elseBlock> No Data available</ng-template>
 </div>
