
header{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    /* height: 80px; */
    display: flex;
    align-items: center;
    background-color:black;
    color: white;
    font-weight: 600;
}

main{
    background-color: white;
    min-height: 725px;
}

footer{
     /* position:relative;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 80px; 
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}