<div>
    <p>Admin Controls </p>
    <br>
    </div>
    <div class="buttons">
      <a routerLink="/add-pack"><button type="button" class="btn btn-primary"><b>Add Pack</b></button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/add-service"> <button type="button" class="btn btn-primary"><b>Add Service Request</b></button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/close-service"><button type="button" class="btn btn-primary">Close Service Request</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/opened-service"> <button type="button" class="btn btn-primary"> Find Opened Service Request</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
  </div>
