footer{
    height: 80px; 
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.colr{
    color: #8E44AD;

}
.welcome{
    padding-top: 100px;
    text-align: center;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:#EBDEF0;

}
img {
    border-radius: 50%;
  }
