<header>
  <header class="col-lg-12">
    <app-header></app-header>
   </header>
<br><br><br><br>
<div class="container">
<h1 class="lst">List of Popular Packs</h1>
<br>
<table border="1">
    <tr>
      <th><h3 class="dyv">PlanName</h3></th>
    </tr>
     <!-- <tr *ngFor="let r of recharges">  -->
      <tr *ngFor="let p of pack"> 
       <!-- <td>{{r.planName}}</td> -->
       <td><h5 class="idc">{{p}}</h5></td>
    </tr>
  </table>
</div>
<br><br>
<footer class="col-lg-12">
  <app-footer></app-footer>
  </footer>