<header class="col-lg-12">
    <app-admin-header></app-admin-header>
   </header>
   <br><br>
   <div class="text">
    <h1><b class="color">What would you like to do?</b> </h1>
    </div>
    <div class="buttons">
        <br>
        <a routerLink="/add-pack"> <button type="button" class="custom"><b>Add Pack</b></button></a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="//update-pack"> <button type="button" class="custom"><b>Update Pack</b></button></a>

  </div>
  <footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>

