<div class="text">
    <p>What would you like to do? </p>
    
</div>

<div class="buttons">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/new-recharge"> <button type="button" class="btn btn-primary"><b>Create Recharge</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/update-recharge"> <button type="button" class="btn btn-primary"><b>Update Recharge</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/desc-recharge"><button type="button" class="btn btn-primary">Find Recharges</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period"> <button type="button" class="btn btn-primary"> Find all Recharges in period</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period-count"><button type="button" class="btn btn-primary">Count Recharges in period</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period-revenue"><button type="button" class="btn btn-primary">Total revenue generated in a period</button></a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/count-recharge"><button type="button" class="btn btn-primary">Check Recharges Count</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-pack-count"><button type="button" class="btn btn-primary"> Recharge PackCount</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>