<div class="text">
    <p>What would you like to do? </p>
    
</div>

<div class="buttons">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/new-recharge"> <button type="button" class="btn btn-primary"><b>Create Recharge</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/update-recharge"> <button type="button" class="btn btn-primary"><b>Update Recharge</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/desc-recharge"><button type="button" class="btn btn-primary"><b>Find Recharges</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period"> <button type="button" class="btn btn-primary"> <b>Find all Recharges in period</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period-count"><button type="button" class="btn btn-primary"><b>Count Recharges in period</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-in-period-revenue"><button type="button" class="btn btn-primary"><b>Total revenue generated in a period</b></button></a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/count-recharge"><button type="button" class="btn btn-primary"><b>Check Recharges Count</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/recharge-pack-count"><button type="button" class="btn btn-primary"> <b> PackCount</b></button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>