.btn-primary{
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
}
.text{
    padding-top: 150px;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:rgb(230, 87, 87);
    }
    /* .buttons{
        position: absolute;
        left:100px;
        right:100px;
        top: 120px;
    } */
    a{
        color:white;
        text-decoration:none;
    } 
    footer{
        height: 80px; 
        align-items: center;
        background-color: black;
        color: white;
        font-weight: 600;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .text{
        padding-top: 150px;
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color:rgb(230, 87, 87);
        }
        .buttons{
            /* padding-top: 10px; */
            font-size: 1.5rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            }
            .custom{
                color: teal;
            }
            .color{

                color: #73C6B6;
                -webkit-text-stroke: 2px #05BDBD;
                
            }