<div class="text">
    <p>What would you like to do? </p>
    </div>
    <div class="buttons">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/register-user"><button type="button" class="btn btn-primary"><b>Register</b></button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/user-update"> <button type="button" class="btn btn-primary"><b>Update</b></button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/find-user"><button type="button" class="btn btn-primary"><b>Find by Id</b></button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/find-user-username"> <button type="button" class="btn btn-primary"><b> Find by Username</b></button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/delete-userId"><button type="button" class="btn btn-primary"><b>Delete By id </b></button></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>