<div class="text">
    <p>What would you like to do? </p>
    </div>
    <div class="buttons">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary"><a routerLink="/register-user"><b>Register</b></a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/user-update"><b>Update</b></a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/find-user">Find by Id</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/find-user-username">Find by Username</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary"><a routerLink="/delete-userId">Delete By id</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>