<header class="col-lg-12">
  <app-header></app-header>
 </header>
<div class="text">
  <h1><b class="color">What would you like to do?</b> </h1>
    </div>
    <br>
    <div class="buttons">
      <!-- <a routerLink="/register-user"><button type="button" class="custom"><b>Register</b></button></a> -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a routerLink="/user-update"> <button type="button" class="custom"><b>Update</b></button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/find-user"><button type="button" class="custom"><b>Find by Id</b></button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/find-user-username"> <button type="button" class="custom"> <b>Find by Username</b></button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/delete-userId"><button type="button" class="custom"><b>Delete By id </b></button></a>
  </div>
  <footer class="col-lg-12">
    <app-footer></app-footer>
    </footer>